<% @courses.each do |course| %>

<div>
<h2><%= link_to course.name, course  %></h2>
<h3><%= course.description %></h3>
<h3><%= course.code %></h3>
<h3><%= "R$ %0.2f" % [course.price] %></h3>

</div>

<% end %>
<%#= link_to 'Voltar', root_path %>